---
import { Icon } from 'astro-icon/components';

const path = new URL(Astro.request.url).pathname;
function urlMatch(url: string) {
  if (url !== path) return "";
  return "underline underline-offset-8"
}
---
<ul class="list-none flex grow justify-end items-center text-2xl gap-3">
  <li class="hover:text-secondary-300">
    <a href="/" class={urlMatch("/")}>About</a>
  </li>
  <li class="hover:text-secondary-300">
    <a href="/projects" class={urlMatch("/projects")}>Projects</a>
  </li>
  <li class="hover:text-secondary-300">
    <a href="/constibutions" class={urlMatch("/contributions")}>Contributions</a>
  </li>
  <li class="text-4xl hover:text-secondary-300">
    <a href="https://github.com/dan-mba" aria-label="GitHub" target="_blank" rel="noreferrer noopener">
      <Icon name="fa-brands:github" />
    </a>
  </li>
  <li class="text-4xl hover:text-secondary-300">
    <a href="https://www.linkedin.com/in/danburkhardt/" aria-label="LinkedIn" target="_blank" rel="noreferrer noopener">
      <Icon name="fa-brands:linkedin" />
    </a>
  </li>
</ul>

<style>
a:focus-within {
  outline: 2px solid theme(colors.secondary.900);
  outline-offset: 2px;
}

</style>