---
import { Icon } from 'astro-icon/components'
---
<ul class="list-none flex grow justify-end items-center text-2xl gap-3">
  <li>
    <a href="/">About</a>
  </li>
  <li>
    <a href="/">Projects</a>
  </li>
  <li>
    <a href="/">Technologies</a>
  </li>
  <li>
    <a href="/">Contributions</a>
  </li>
  <li class="text-4xl">
    <a href="https://github.com/dan-mba" aria-label="GitHub" target="_blank" rel="noreferrer noopener">
      <Icon name="fa-brands:github" />
    </a>
  </li>
  <li class="text-4xl">
    <a href="https://www.linkedin.com/in/danburkhardt/" aria-label="LinkedIn" target="_blank" rel="noreferrer noopener">
      <Icon name="fa-brands:linkedin" />
    </a>
  </li>
</ul>