---
import DesktopNav from './DesktopNav.astro';
import MobileNav from './MobileNav.astro';
const base = import.meta.env.BASE_URL;
---
<header class="sticky top-0 left-0 z-10 w-full bg-big-stone-950 text-big-stone-100">
  <div class=" max-w-(--breakpoint-xl) w-full mx-auto px-[1%]">
    <a href="#maincontent" class="skip-link absolute block bg-big-stone-950 text-xl px-1.5 py-3">Skip to content</a>
    <nav class="flex">
      <a href={`${base}`} class="hover:text-big-stone-300">
        <div class="text-5xl font-hw min-w-[100px]">Dan</div>
      </a>
      <DesktopNav />
      <MobileNav/>
    </nav>
  </div>
</header>
<style>
.skip-link {
  /* Ensure the Y position is set to zero and any movement on the transform property */
  transform: translateY(0);
  transition: transform 250ms ease-in;
}

/* When it is not focused, transform its Y position by its total height, using a negative value, so it hides above the viewport */
.skip-link:not(:focus) {
  transform: translateY(-6rem);
}
</style>