---
import DesktopNav from './DesktopNav.astro';
---
<header class="sticky w-full bg-primary-950 text-primary-200">
  <nav class="flex max-w-screen-xl w-full mx-auto px-[1%]">
    <a href="/">
      <div class="text-5xl font-hw min-w-[100px]">Dan</div>
    </a>
    <DesktopNav />
  </nav>
</header>