---
import { Image } from 'astro:assets';
import type { FlatRepo } from '@data/repos';

interface Props {
	repo: FlatRepo;
	index: number;
}

const { repo: {name, openGraphImageUrl}, index } = Astro.props;
---

<li class="text-center">
	<h2 class="text-xl">{name}</h2>
	<Image
		src={openGraphImageUrl}
		width="572"
    height="286"
		densities={[1, 1.125, 1.25, 1.375, 1.5, 1.625, 1.75, 1.875, 2]}
		loading={index === 0 ? 'eager' : 'lazy'}
		alt=""
		quality={50}
		class="mt-4 mb-2"
	/>
</li>
