---
import type { GetStaticPaths } from 'astro';
import Layout from '@layouts/Layout.astro';
import { getRepos } from '@data/repos';

export const getStaticPaths =(async ({ paginate }) => {
  const repos = await getRepos();
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(repos, { pageSize: 6 });
}) satisfies GetStaticPaths ;
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<!--Display the current page number. Astro.params.page can also be used!-->
<Layout title=`Welcome to Astro. Projects Page ${page.currentPage}` description="Home page">
  <h1>Page {page.currentPage} of {page.lastPage}</h1>
  <ul>
    <!--List the array of astronaut info-->
    {page.data.map(({ name }) => <li>{name}</li>)}
  </ul>
</Layout>