name: Playwright Tests
on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - ".github/**"
      - "renovate.json"

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    # if: github.actor != 'renovate[bot]'
    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@v4
    - uses: actions/setup-node@v6
      with:
        node-version: lts/*
        cache: "pnpm"
    - name: Install dependencies
      run: pnpm install
    - name: Install Playwright Browsers
      run: pnpm exec playwright install chromium

    - name: Build with Astro
      env:
        GITHUB_TOKEN: ${{ secrets.BUILD_GITHUB_TOKEN }}
      run: pnpm build

    - name: Run Playwright tests
      run: pnpm exec playwright test
